/*Login*/
.fondo{
    width: 100%;
    height: 780px;
    position: relative;
    background-image:  url("../img/FondoLoginNuevo.jpg");
    background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}
.fondo:before {
	content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.6);
}

.imagenfondo{
    width: 100%;
    background-blend-mode: darken;
 
}
.encabezado{
    position:absolute ;
    top: 0;
}

.encabezadologo{
    width: 167px;
    height: 45px;
    margin-top: 20px;
    margin-left: 30px;
    cursor: pointer;
}

.contenido{
    display: flex;
    flex-direction: row; 
    width: 1000px;
    height: 500px;
    background-color: rgba(0,0,0,.5);
    padding-top: 60px;
    padding-right: 68px;
    padding-bottom: 40px;
    padding-left: 68px;
    margin-bottom: 90px;
    border-radius: 4px;
    position: absolute;
    top: 100px;
    left: 100px;
}

.contenedorPerfil{
    width: 950px;
    height: 455px;
    
}
.contenedorPeliculas{
    width: 950px;
    height: 455px;
   
}

.titulo{
    color:white;
    display: block;
    font-size: 30px;
    margin-left: 30px;
    font-weight: bold;
    text-align: center;
}
.perfilActor{
    width: 300px;
    height: 250px;
    margin-left: 110px;
}

.listaPeliculas{
    margin: 0;
    padding: 0;
    list-style: none;
}

.nombrePeli{
    margin-left: 2px;
    width: 100%;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    color: white;
    margin-bottom: 10px;
}

.nombrePeli:hover{
    cursor: pointer;
    color: yellowgreen;
    text-decoration: underline;
}